@font-face {
  font-family: 'Custom';
  src: url(/Users/admin/Documents/Purwadhika/CodeChallenge/codechallenge2/app/fonts/Outfit-Light.ttf) format ('ttf')
;}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d5d8da;
  font-family: Outfit Light, sans-serif;
  overflow-x: hidden;
}